{
    "dev": {
        "vpc": "",
        "domain": "",
        "subnets": "",
        "cert_arn": "",
        "us-east-1_cert_arn": "",
        "root_discord_user_id": "",
        "discord_oauth_url": "",
        "tehbot_api_url": "",
        "tehbot_web_url": "",
        "contact_email": "",
        "daemon_role_arn": ""
    }
}