{
    "dev": {
        "application_id": "",
        "discord_public_key": "",
        "discord_bot_token": "",
        "steam_api_key": "",
        "steam_username": "",
        "steam_password": "",
        "guild_accept_list": [],
        "client_id": "",
        "client_secret": "",
        "redirect_uri": ""
    }
}